<!DOCTYPE html>
<html ng-app="nodeBotsApp">
  <head>
    <meta charset="utf-8">
    <title>NodeBots | El Salvador</title>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="appCtrl">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">NodeBots El Salvador</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Inicio</a></li>
                  <li class=""><a href="/control">App</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h2>Bienvenid@s</h2>
            <img src="images/nodebots-sv.png" alt="NodeBots El Salvador" class="header-img"/>
            <h1 class="cover-heading">International NodeBots Day 2015</h1>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a></p>
            </div>
          </div>

        </div>

      </div>
    </div>



    <script src="bower/jquery/dist/jquery.min.js"></script>
    <script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
